.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../images/corian\ sinks\ hero.jpg);
}

.features-img {
  object-fit: cover;
}

.availability {
  max-width: 122rem;
  margin: 9.6rem auto 0;
}

.availability-header {
  font-size: 2rem;
  color: var(--button-color);
  width: 50%;
}

/* !Responsive */

/* @media (max-width: 370px) {
  .logo-cont img {
    height: 6rem;
  }
} */
