.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../images/corian\ sinks\ hero.jpg);
}

.features-img {
  object-fit: cover;
}

.products-gallery {
  max-width: 130rem;
  margin: 9.6rem auto 0;
}

.product-gallery--header {
  font-size: 2rem;
  color: var(--button-color);
  max-width: 55rem;
  margin-bottom: 1.6rem;
}

.gallery {
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  justify-content: center;
}

.gallery img {
  width: 100%;
  display: block;
}
